<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.randomsutta.mac</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>randomsutta</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleURLName</key>
            <string>Google OAuth Redirect</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.103021460212-qk5ogq5es4dlpsmkf5a7q4h7nl7v9qle</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
