# Path: .gitignore

# Python compilation files
__pycache__/
*.pyc

# System files (Mac/Windows)
.DS_Store
Thumbs.db

# IDE settings (Optional)
.idea/
.venv/

/data/*

.cache

/release/

/sample_*.txt

# Logs
*.log

# Logging
/logs/*
!/logs/.gitkeep

/build/
/dist/
/web/dev-dist/

/tmp

.pcode.toml

# Generated Data Assets
/web/public/assets/books/*
/web/assets/sutta/
/web/public/assets/db/

.env_aliases

# Direnv
.direnv/
.envrc

/references/

# Node
node_modules/

.antigravitycli/

# Capacitor / Android Build artifacts
android/local.properties
android/.gradle/
android/app/build/
android/.idea/
android/app/.cxx/
android/app/release/
android/app/debug/
capacitor.config.json.tmp
android/app/*.apk
*.apk
*.epub/web/index.html
