# Path: .gitignore

# Python compilation files
__pycache__/
*.pyc

# System files (Mac/Windows)
.DS_Store
Thumbs.db

# IDE settings (Optional)
.idea/
.venv/

/data/*

.cache

/release/

/sample_*.txt

# Logs
*.log

# Logging
/logs/*
!/logs/.gitkeep

/build/
/dist/
/web/dev-dist/

/tmp

.pcode.toml

# Generated Data Assets
/web/public/assets/books/*
/web/assets/sutta/
/web/public/assets/db/
/web/assets/modules/data/constants.js

.env_aliases

# Direnv
.direnv/
.envrc

/references/

# Node
node_modules/

.antigravitycli/

# Capacitor / Android Build artifacts
android/local.properties
android/.gradle/
android/app/build/
android/.idea/
android/app/.cxx/
android/app/release/
android/app/debug/
android/app/src/main/assets/public
android/app/src/main/assets/capacitor.config.json
android/app/src/main/res/xml/config.xml
capacitor.config.json.tmp
android/app/*.apk
*.apk

# Capacitor iOS
ios/App/App/public
ios/App/App/build
ios/App/App/config.xml
ios/App/App/capacitor.config.json
ios/App/Pods
ios/App/App.xcworkspace
ios/App/DerivedData
ios/App/Index
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
ios/capacitor-cordova-ios-plugins
ios/App/*.xcarchive/
ios/App/*.plist
*.epub/web/index.html
