    <div id="toh-wrapper" class="hidden">
      <button id="toh-fab" title="Table of Headings">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="12" cy="5" r="2" />
          <circle cx="12" cy="12" r="2" />
          <circle cx="12" cy="19" r="2" />
        </svg>
      </button>

      <div id="toh-menu" class="hidden">
        <div class="toh-header-tabs">
          <button id="tab-toh-headings" class="toh-tab active">Headings</button>
          <button id="tab-toh-parallels" class="toh-tab">Parallels</button>
        </div>
        
        <div id="toh-content-headings" class="toh-tab-content">
          <ul id="toh-list"></ul>
        </div>
        
        <div id="toh-content-parallels" class="toh-tab-content hidden">
          <ul id="parallels-list"></ul>
        </div>
        <div id="toh-resize-handle"></div>
      </div>
    </div>